
* {
    margin: 0%;
}

.laranja-sysop {
    color: #ff6200;
}

.sora {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }


header {

    height: 9.7vh;
    max-height: inherit;
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #121820;
    
    
}

#org { 

    
      
}

header img {

    padding-top: 5px;
    padding-bottom: 5px;
    max-height: inherit;
    transform: translateZ(0);
    perspective: 800px;
    
}

nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 90px;

}


nav ul {

    display: flex;
    text-decoration: none;
    list-style: none;
    position: center;

}

li {

    font-size: smaller;
}

li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    transition: 0.5s;
}

li a:hover:not(.active) {

    color: orange;
}

#top, #bottom {

    height: 40vh;
    width: max;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 40px;
}

#top {

    padding-top: 120px;
    background-color: #09121d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    
    
}

#top-left, #top-right {

    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-left {

    max-width: 100%;
    width: 550px ;
    text-align: left;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    color: white;
    position: inherit;

}

#top-left p {
    min-width: 200px; 
    max-width: 100%; 
}

#top-right {

   width: 1200px;  
   color: white
}

#bottom {
    height: 100vh;
    padding-top: 60px;
    background-color: #ff6200;
    align-items: center;
    
} 

#bottom h1 {

    color: white;
    
}

#forma {

    height: max-content;
    width: 169.5vh;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#title1 {
    
    width: max-content;
}

#card-form{

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 1200px;
    background-color:whitesmoke;
    border-radius: 2vh;
    box-shadow: #121820 5px 5px 4px;
    padding-top: 25px;


}

#card-form-right {

    height: auto;
    width: auto;
    max-width: 594px;
}

#card-form-right img {

    height: auto;
    max-width: 100%;
    
}

#forma hr {

    height: 580px;
    width: 0;
}

form {

    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#div-botao-form {
    
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}


.labelText {

    color: #ff6200 ;
    width: max-content;
    height: max-content;
    font-family: "Sora", sans-serif; 
    font-weight: 800;

}

.entrada {
    
    width: 200px;
    height: 25px;
  
    font-family: "Sora", sans-serif; 
    border-radius: 1vh;
    border-style: double;
}

#input7 {

    border-style: double;

}


.carrosel {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(10, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow: hidden;
    height: 50vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
    transition: transform 2s linear;
    height: 300px;
    width: 900px;
}

.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}

.button-28 {
    appearance: none;
    background-color: white;
    border: solid white;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ff5400;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: white;
    background-color: orange;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    border: solid orange;
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }

   #blur {
    display: none;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 5;
    transition: 1s;
   }

  .hide-label,
  .hide-input {

    display: none;
  }

